.container-sidebar {
  display: flex;
}
main {
  width: 100%;
}
.sidebar {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  min-height: 100vh;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  margin-left: -15px;
  animation-delay: 4s;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  transition: all 1.5s;
  cursor: pointer;
}

.link {
  display: flex;
  color: #b66cff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 1.5s;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  background: #b66cff;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  text-decoration: none;
}
.active {
  background: #b66cff;
  color: rgb(255, 255, 255);
}

.icon,
.link_text {
  font-size: 16px;
}
.link_text {
  color: black;
}
